@-ms-viewport {
  width: device-width;
}


.dontpost > button {
	background: #EB1E23;
}

.inactive  {
	background: #999;
	color: #666;
	cursor: not-allowed;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border-color: #666;
}

.inactive:hover {
	background: #999;
}

body {
    height: 100%;
    background: white;
    background-image: url("../../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    font-family: 'Campton-LightDEMO', sans-serif;
    font-weight: 300;
    font-size: 17pt;
    line-height: 1.75em;
    color: #000000;
    text-align: center;
    -webkit-text-stroke: 0.1px;
}

img {
	text-align: center;
	width: 35%;
	height: 35%;
}

i {
	color: red;
	animation: bounce 0.5s 10 alternate;
	-webkit-animation: bounce 0.5s 10 alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}


@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/* Table */

  table {
    width: 45%;
    margin: auto;
    text-align: center;
    border: solid 3px #000000;
    border-collapse: collapse;
    background-color: white;

  }


  th {
    border-collapse: collapse;
    border: solid 2px #000000;
  }


  select {
    font-family: 'Campton-LightDEMO', sans-serif;
    font-weight: 300;
    font-size: 30pt;
    line-height: 1.75em;
    text-align: center;
    -webkit-text-stroke: 0.1px;
  }

  h1, h2, h4, h5, h6, p {
    display: inline-block;
    width: 40%;
    color: #333;
    margin: 0 0 1em 0;
    font-family: 'Campton-BoldDEMO', sans-serif;
    line-height: 1.5em;
    background-color: #E8E8E8;
    border: solid 1px #000000;
  }

  h3 {
    display: inline-block;
    width: 100%;
    color: #333;
    margin: 0 0 1em 0;
    font-family: 'Campton-BoldDEMO', sans-serif;
    line-height: 1.5em;
  }

  p {
    color: #333;
    margin: 0 0 1em 0;
    font-family: 'Campton-BoldDEMO', sans-serif;
    line-height: 1.5em;
    background-color: white;
    border: solid 1px #000000;
  }


/* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #52cdcd;
    padding: 0.85em 3em 0.85em 3em;
    border-radius: 0.25em;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    box-shadow: 0px 0px 15px #888888;
  }



    input[type="button"].alt,
    input[type="submit"].alt,
    input[type="reset"].alt,
    button.alt,
    .button.alt {
      color: inherit;
      box-shadow: inset 0 0 0 1px #e6e6e6;
      background: none;
    }

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
            background: #52cdcd;
    }
/* Mobile */

  @media screen and (max-width: 736px) {

    /* Basic */

      body, input, textarea, select {
        font-size: 11pt;
      }

      h1 {
	      text-align: center;
      }

      img {
	      height: 100%;
	      width: 100%;
      }

  h1, h2, h4, h5, h6, p {
    width: 100%;
  }

    /* Button */

      .button {
        width: 100%;
        max-width: 300px;
      }
    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
    }
  }


